# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/

# Firebase
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart

# Environment
.env
*.env.local

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# Generated
*.g.dart
*.freezed.dart
.flutter-plugins
.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db

# Misc
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
**/doc/api/
.pub-cache/
.pub/
/coverage/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
